body {
	background-color: white;
	font-family: sans-serif;
	/*color: #eee;*/
	background-color:#556;
background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.container {
	background-color: white;
	box-shadow: 50px 50px 250px black;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 1024px;
	max-width: 1200px;
	min-height: 1000px;
	/*border: 1px solid red;*/
	-webkit-transition: all .5s ease;
}

.container2 {

	width: 1024px;
	height: 1024px;
	/*border: 1px solid red;*/
}

.box {
	display: inline-block;
/*	display: -webkit-flex;
	-webkit-flex-direction: row;*/
	width: 33.3%;
	height: 33.3%;
	box-shadow: 2.5px 2.5px 25px #333;
	z-index: 0;
	-webkit-transition: all .5s ease;


}
.box:hover {
	display: inline-block;
	width: 66%;
	height: 66%;
	/*border-radius: 20px;*/
	box-shadow: 10px 10px 100px #333;

}

.tomato {
	background: linear-gradient(to bottom, tomato, red);
}

.green {
	background: linear-gradient(to bottom, mediumseagreen, green);
}
.blue {
	background: linear-gradient(to bottom, deepskyblue, blue);
}
.yellow {
	background: linear-gradient(to bottom, yellow, goldenrod);
	float: bottom right;
}

.box > h2 {
	margin-left: 5%;
	margin-top: 5%;
	-webkit-transition: opacity .5s ease-in-out;
	/*font-size: 1.75em;*/
	font-size: 1.5em
	 
}

.box > ul{
	font-size: 0em;
	position: absolute;
	opacity: 0;
	max-width: 25%;
	color: white;

	/*-webkit-transition: font-size .5s ease-in;*/
	-webkit-transition: opacity .5s ease-in;


}

.box:hover h2{
	text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
	
}

.box:hover ul{

	display: inline-block;
	margin-top: 50px;
	position: absolute;
	opacity: 1;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
	max-width: 60%;
	font-size: 1.25em;


}
.box:hover ul li {
	padding: 15px;


}

.box > ul > li > div > img {
	width: 1%;
	-webkit-transition: all .5s ease-in-out;

}
.box:hover > ul > li > div > img {
	width: 7%;
	padding: 5%;

}

@media (max-width: 1100px) {
  .container{
    margin-left: 0px;
    margin-right: 0px;
  }
  .nav {
  	min-width: 480px;
  }
}

 @media (max-width: 780px ) {
 	.container2 {
		width: 100%;
		height: 780px;
		}
	.container {
		min-width: 480px;
		max-width: 780;
		}

	.box > ul {
		max-width: 90%;
		margin-right: 0px;
	}
	.box > ul > li{
		font-size: 1em;
		}
	.nav > ul {
		font-size: 1.4em
	}
	.box {
		
		width: 100%;
		margin-top: -4%;
	}
	.box:hover {
		width: 100%;
		border-radius: 15px;
	}
	.box:active {
		width: 100%;
	}
	.container3 > div {
		width: 100%;
		margin: 4%;
		border: none;
	}


 }